.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.container {
    border-radius: calc(2rem / 7);
    border: 3px solid white;
    padding: 10px;
}

.container > :not(:first-child) {
    margin-top: 10px;
}

.options {
    display: flex;
}

#orLabel {
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
}

.row:not(:first-child) {
    border-top: 1px solid white;
}

.cell {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16pt;
}

.cell:not(:first-child) {
    border-left: 1px solid white;
}

.container > .poetry-answer:not(:first-child) {
    margin-top: 10px;
    border-top: 1px solid white;
    padding-top: 10px;
}

.poetry-answer > :not(:first-child) {
    margin-top: 10px;
}

.poetry-clue {
    font-size: 16pt;
}

.poetry-result-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.poetry-result-container > :not(:first-child) {
    margin-left: 10px;
}

.poetry-result {
    font-size: 24pt;
}

.journey-string-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.journey-string-container > :not(:first-child) {
    margin-left: 5px!important;
    margin-right: 0px!important;
}

.journey-string {
    flex-grow: 1;
    font-size: 16pt;
    border-bottom: 1px solid white;
}

.cell.journey {
    width: 80px;
    height: 80px;
}

.cell.journey.highlight {
    background-color: rgb(180, 198, 231);
}

.cell.journey > .ui.input {
    width: 60px;
    height: 60px;
}

.cell.journey > .ui.input > input {
    padding: 5px;
    text-align: center;
    font-size: 24pt;
}

.journey-buttons > .ui.button {
    width: 100px;
    margin-right: 0px;
}

.journey-buttons > .ui.button:not(:first-child) {
    margin-left: 10px;
}
